/* Styling to display portfolio works */

/* Structural Elements */
body{
    justify-content: center;
    display:inline-block;
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: rgb(80, 0, 0);
}
header{
    text-align: center;
    background-color: rgb(200, 205, 190);
    transition: height 2s;
    display: inline-flex;
    flex-flow: column;
    width: 100%;
    height: auto;
    position:relative;
    left: 0;
    top: 0;
}
header a h1{
    flex-basis: 20%;
    background-color: rgb(250, 255, 240);
    color: rgb(0, 0, 55);
    transition: 250ms;
    padding: 20px 0;
    margin: 0;
}
header h1:hover{
    background-color: rgb(0, 0, 55);
    color: rgb(250, 255, 240);
}
header h1:active{
    background-color: rgba(0, 0, 55, 0.7);
    color: rgb(250, 255, 240);
}
header nav{
    flex-basis: 80%;
}
main{
    display: inline-flex;
    flex-flow: row wrap;
    width: 100vw;
}
aside{
    width: 100%;
}
aside > ul{
    padding: 0;
}
aside > ul li{
    text-align: center;
    padding: 5px 5px;
}
article{
    background-color: rgb(250, 255, 240);
    display:flex;
    position: static;
    width: 100vw;
    flex-flow: column;
    align-items: center;
}
article img{
    width: 80%;
}
footer{
    width: 100%;
    position: relative;
    bottom: 0px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}
footer a {
    padding: 0 5px;
}
/* NAVIGATION */
nav {
    display: content;
    padding: 0;
    margin: 0;
}
nav ul{
    display: flex;
    flex-flow: column;
    align-items: center;
    padding: 0;
    margin: 0;
}
nav ul li{
    display: flex;
    padding: 10px 30vw;
    color: rgb(0, 0, 55);
    transition: 250ms;
}
nav ul li:hover{
    background-color: rgb(0, 0, 55);
    color: aliceblue;
}
nav ul a li:active{
    background-color: rgba(0, 0, 55, 0.7);
    color: rgb(250, 255, 240);
}

/* TYPOGRAPHY */
*{
    font-family: Helvetica, Arial, sans-serif;
    text-decoration: none;
}
h1{
    font-size: 40px;
    color: rgb(0, 0, 55);
}
footer{
    color: aliceblue;
}
.navLTxt{/*Nav bar text default*/
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    font-weight: 400;
    color: black;
    list-style-type: none;
}
.asideTxt{
    text-decoration: none;
    color: inherit;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0 0 0 10px;
}
aside ul li{
    list-style-type: none;
    list-style: none;
    padding: 10px 0;
    color: aliceblue;
    transition: 250ms;
    background-color: rgb(80, 0, 0);
}
aside li:hover{
    background-color: aliceblue;
    color: rgb(80, 0, 0);
}
aside li:active{
    background-color: aliceblue;
    color: rgb(80, 0, 0);
}


/* LARGE FORMAT LAYOUTS */
@media only screen and (max-width: 1100px) {
    footer{
        flex-flow: column-reverse;
        width: 20%;
        left: 0;
    }
    header h1{
        flex: auto 30%;
        font-size:150%;
    }
    header nav{
        flex: auto 60%;
    }
}
@media only screen and (min-width: 768px) {
/* Structural Elements */
    header{
        background-color: rgb(250, 255, 240);
        flex-flow: row nowrap;
        justify-content: space-between;
        width: 100vw;
        height: 75px;
        position:relative;
        left: 0;
        top: 0;
    }
    header > a{
        padding: 0;
    }
    header a h1{
        flex: 2 1 20%;
        padding: 24px .55vw;
    }
    header nav{
        flex: 0 0 75%;
    }
    article{
        display: inline-flex;
        position: relative;
        width: 78%;
        padding: 20px 0 0 2%;
    }
    footer{
        position: fixed;
        bottom: 0;
    }
/* NAVIGATION */
    nav {
        display: inline-flex;
        flex-flow: row-reverse;
        position: relative;
        z-index: 1;
        width: 50%;
    }
    nav ul{
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-around;        
        padding: 10px;
        margin: 0;
    }
    nav ul li{
        display: flex;
        padding: 10px;       
        margin: 0;
    }
    aside{
        width: 20%;
    }
    aside ul li{
        padding: 15px 0;
    }
/* Typography */
    h1{
        font-size: 30px;
    }
}