/* Styling to display portfolio works */

/* Structural Elements */
body{
    justify-content: center;
    display:inline-block;
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: rgb(80, 0, 0);
}
header{
    text-align: center;
    background-color: rgb(200, 205, 190);
    transition: height 2s;
    display: inline-flex;
    flex-flow: column;
    width: 100%;
    height: auto;
    position:relative;
    left: 0;
    top: 0;
}
header h1{
    flex-basis: 20%;
}
header nav{
    flex-basis: 80%;
}
main{
    display: inline-flex;
    flex-flow: row wrap;
    width: 100vw;
}
aside{
    width: 20%;
}
aside ul li{
    padding: 5px 0;
}
article{
    background-color: rgb(250, 255, 240);
    text-align: center;
    display:inline-flex;
    position: static;
    width: 100vw;
    left: 0;
    flex-flow: column;
}
footer{
    width: 100%;
    position: relative;
    bottom: 0px;
}
/* NAVIGATION */
nav {
    display: content;
    padding: 0;
    margin: 0;
}
nav ul{
    display: flex;
    flex-flow: column;
    align-items: center;
    padding: 0;
    margin: -15px 0 0 ;
}
nav ul li{
    display: flex;
    padding: 10px;
}

/* TYPOGRAPHY */
*{
    font-family: Helvetica, Arial, sans-serif;
}
h1{
    font-size: 40px;
    color: rgb(0, 0, 54);
}
footer{
    color: aliceblue;
}
.navLTxt{/*Nav bar text default*/
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    font-weight: 400;
    color: black;
}
.asideTxt{
    text-decoration: none;
    color: aliceblue;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

/* LARGE FORMAT LAYOUTS */
@media only screen and (min-width: 640px) {
    
}

@media only screen and (min-width: 768px) {
/* Structural Elements */
    header{
        background-color: rgb(250, 255, 240);
        flex-flow: row;
        justify-content: space-around;
        width: 100%;
        height: 75px;
        position:relative;
        left: 0;
        top: 0;
    }
    article{
        display: inline-block;
        position: relative;
        width: 80%;
        padding-top: 50px;
    }
    footer{
        position: absolute;
        bottom: 0;
    }
/* NAVIGATION */
    nav {
        display:flex;
        position: relative;
        z-index: 1;
    }
    nav ul{
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-around;        
        padding: 10px;
    }
    nav ul li{
        display: flex;
        padding: 10px;       
        margin: 0;
    }
/* Typography */
    h1{
        font-size: 30px;
    }
}